*{
    margin: 0;
}

.main{
    width: 98%;
    height: 650px;
    border: 2px solid black;
    margin: 5px;
}
.mid{
    width: 100%;
    height: 33.33%;
}
.circle{
    display: flex;
    width: 100%;
    height: 100%;
}
img{
    margin: 0;
    animation: circle_rotate 10s linear 0s infinite both;
    margin-left: 40%;
}

@keyframes circle_rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes top{
    0%{
        background-color: white;
        color: white;
        
    }
    50%{
        background-color: rgba(255, 166, 0, 0.377);
        color: rgba(255, 166, 0, 0.377);
    }
    100%{
        background-color: orange;
        color: white;
    }
}
@keyframes bottom{
    0%{
        background-color: white;
        color: white;
        
    }
    50%{
        background-color: rgba(255, 166, 0, 0.377);
        color: rgba(0, 255, 0, 0.377);
    }
    100%{
        background-color: green;
        color: white;
    }
}
.up{
    animation: top 5s linear 0s 1 both;
    width: 100%;
    height: 33.33%;
}
p{
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 100px;
    
}
.down{
    animation: bottom 5s linear 0s 1 both;
    width: 100%;
    height: 33.33%;
} 