*{
    
    margin: 0;
}

.main{
    overflow: hidden; 
    display: flex;
    width: 98%;
    height: 650px;
    border: 2px solid black;
    margin: 5px;
}
.mid{
    border: 1px solid black;
    height: 100%;
    width: 33.33%;
}

img{
    margin-top: 20vh;
    width: 100%;
    height: 100%;
    animation: circle_rotate 10s linear 0s infinite both;
}

@keyframes circle_rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes top{
    0%{
        background-color: white;
        color: white;
        
    }
    50%{
        background-color: rgba(255, 166, 0, 0.377);
        color: rgba(255, 166, 0, 0.377);
    }
    100%{
        background-color: orange;
        color: white;
    }
}
@keyframes bottom{
    0%{
        background-color: white;
        color: white;
        
    }
    50%{
        background-color: rgba(0, 128, 0, 0.377);
        color: rgba(0, 128, 0, 0.377);
    }
    100%{
        background-color: green;
        color: white;
    }
}
.up{
    border: 1px solid black;
    animation: top 5s linear 0s 1 both;
    height: 100%;
    width: 33.33%;
}
p{
    margin: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 500%;
    
}
.down{
    border: 1px solid black;
    animation: bottom 5s linear 0s 1 both;
    height: 100%;
    width: 33.33%;
} 
@media not all and (orientation: landscape) {
    img{
        margin-top: 40vh;  
        width: 100%;
        height: 100%;
    }
    p{
        font-size: 350%;
    }
}
